@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

@layer components {
  .text-input {
    background: none;
    text-align: center;
  }

  .text-input:focus {
    outline: none;
  }

  .custom-input {
    height: 20px;
    background: none;
    padding-inline: 10px;
    border: 1px solid white;
    border-radius: 20px;
  }

  .invisible-textarea {
    background: none;
    padding-inline: 10px;
    overflow: hidden;
  }

  .invisible-textarea:focus {
    outline: none;
  }
}