@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sheet-text: #29292d;
  --sheet-background: #F0F0F0;
  --sheet-outline: #516c8a;
  --sheet-chord: #5b65eb;
  --sheet-shadow: #0005;
  --sheet-chord-text: #DDD;
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

@layer components {
  .text-input {
    background: none;
    text-align: center;
  }

  .text-input:focus {
    outline: none;
  }

  .custom-input {
    height: 20px;
    background: none;
    padding-inline: 10px;
    border: 1px solid white;
    border-radius: 20px;
  }

  .invisible-textarea {
    background: none;
    padding-inline: 10px;
    overflow: hidden;
  }

  .invisible-textarea:focus {
    outline: none;
  }
}